.cars{
    color: gray;
    display: contents;
    justify-content: center;

}
.section4{
    margin-top: 150px;
    height:100%;
    justify-content: center;
    align-items: center;
}
.price{
   font-weight: 500;
}
